nav {
  text-align: center;
}
.jumboTron {
  text-align: center;
}
body {
  margin: 0;
  background-image: url(background.jpg);
}
body a {
  
}
.footer {
  clear: both;
}
.inlineElement{
  display: inline-block;
}
