.logo {
	width: 75%;
}
body {
	background: url("background.jpg");
	background-color: #ffffcc;
}
.jumbotron {
	background-color: #eeeebe;
}
.mainBody p {
	font-size: 18px;
	line-height: 1.42857143;
}
img {
    display: inline-block;
    height: auto;
    width: 75%;
}
#navBarLogo{
	display: inline-block;
	width: 7%
}

#footer p {
	margin-top: 10px;
	margin-bottom: 10px;
	color: black;
}
