.logo {
	width: 75%;
}
body {
	background-color: #ffffcc;
}
.jumbotron {
	background-color: #eeeebe;
}
.mainBody p {
	font-size: 18px;
	line-height: 1.42857143;
}
img {
    display: inline-block;
    height: auto;
    width: 75%;
}
