.navbar-default {
  background-color: #333333;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

.logo {
  width: 220px;
  height: 84px;
  padding: 10px 15px;
  background-color: #ff6600;
  margin-left: 4.9%;
}
.navbar-brand,
.navbar-nav li a {
  height: 84px;
  line-height: 84px;
  padding: 0 25px;
  font-family: 'Marcellus', serif;
  font-size: 18.89px;
  color: #ffffff;
  border-right: 1px solid #212121;
  -webkit-box-shadow: 1px 0px 0px 0px rgba(255,255,255,.1);
  -moz-box-shadow: 1px 0px 0px 0px rgba(255,255,255,.1);
  box-shadow: 1px 0px 0px 0px rgba(255,255,255,.1);
}
.navbar-brand {padding-right: 0;}
.narbar-default .navbar-nav>li>a {color: #fff;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus{
  color: #ffffff;
  background-color: #535252;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #535252;
    color: #ffffff;
}
header {
  height: 475px;
  text-align: center;
  background-color: #606060;
}
header h1, h2 { color: #ffffff; font-family: 'Marcellus', serif; font-size: 36px; }
header h1 { text-decoration: underline; }
.headerImg { border-style: solid; border-width: 12px; border-color: #ff6600; margin: 27px; width:275px; height:275px; }
.mainBody h2, .mainBodySecond h2, .mainBodyThird h2 { color: #000000;  font-family: 'Marcellus', serif; }
.mainBody h1 {
	border-style: solid;
	border-width: 7px;
	border-color: #ff6600;
	font-family: 'Marcellus', serif;
	width: 185px;
	color: #ff6600;
	padding-left: 10px;
}
.mainBodyThird a {color:#ff6600; font-size:36px; font-family: 'Marcellus', serif;} .mainBodyThird a:hover {color:#00a651}
.mainBody p, .mainBodySecond p, .mainBodyThird p { font-family: 'Arial', serif;}
.mainBody, .mainBodySecond, .mainBodyThird { 	margin-left: 20%; margin-right: 20%; }
.mainBodySecond img {display: inline-block; margin-bottom: 50px; margin-right:.0026%; margin-left:.0026%; width: 45%}
.mainBodySecond h1 {
	border-style: solid;
	border-width: 7px;
	border-color: #ff6600;
	font-family: 'Marcellus', serif;
	width: 425px;
	color: #ff6600;
	padding-left: 10px;
}
.mainBodyThird h1 {
	border-style: solid;
	border-width: 7px;
	border-color: #ff6600;
	font-family: 'Marcellus', serif;
	width: 215px;
	color: #ff6600;
	padding-left: 10px;
}
.title { text-align: left; float:left;}
.subtitle { display:inline-block; text-align: right; float:center-block; margin-top: 30px}
.mainBodySecond h3 {font-family: 'Marcellus', serif; color: #9b9b9b; font-size: 24px;}
@media (max-width: 991px) {
    .navbar-header { float: none; }
    .navbar-toggle { display: block; }
    .navbar-collapse {border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
    .navbar-collapse.collapse { display: none!important; }
    .navbar-nav { float: none!important; margin: 7.5px -15px; }
    .navbar-nav>li { float: none; }
    .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; }
    .navbar-text { float: none; margin: 15px 0; }
    .navbar-collapse.collapse.in { display: block!important; }
    .collapsing { overflow: hidden!important; } }
iframe { margin-left:15% ; float:center-block;}
